#chart svg {
    width: 800px;
    height: 600px;
}

.axis text {
    font-size: 14px;
}

.axis path,
.axis line {
    stroke: #000;
}

.line.prodcurve {
    stroke: steelblue;
}

.line.investcurve {
    stroke: green;
}

.line.steadystate {
    stroke: red;
}

.currentK {
    fill: black;
}

.currentY {
    fill: orange;
}

.currentS {
    fill: purple;
}

.currentNDelta {
    fill: brown;
}

.k_dot_text,
.k_eq_text {
    font-size: 14px;
}

/* Navigation styles */
nav {
    background-color: black;
    /* Changed background color to black */
    color: #fff;
    /* Changed text color to white */
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black;
        /* Changed background color to black */
        padding: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}