.regular {
    
}

#list_regular {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:20px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

#solow_quote {
    font-family:serif, Helvetica, sans-serif;
    text-align: center;
    font-weight: italic;
    font-size: 20px
}

.concept {font-style: none;
    font-size: 20px;
    text-decoration: underline;}